html, body, header, footer, h1, h2, h3, h4, h5{
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: black;
}

select, option, input{
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  color: black;
}

body{
  flex-direction: column;
  width: 1200px;
  background: #afeeee;
}

/*#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("./assets/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}*/

#title{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 22px;
  font-weight: bold;
}

#title-description{
  margin-left: 15px;
  margin-bottom: 15px;
}

#navbar{
  display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 15px;
    background: #e8e8e8;
    border: 1px solid black;
    border-radius: 5px;
    width: 257px;
}

.nav-button{
  padding: 5px;
  cursor: pointer;
}

#change-to-sandbox{
  background: whitesmoke;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
#change-to-sorting{
  background: #6495ed;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: solid 1px black;
}

#sort-container{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 5px;
  visibility: hidden;
}

#sort-label{
  margin-left: 375px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#sort-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*width: 750px;*/
}

#sort-algo-one-color{
  background: red;
  text-indent: 100%;
  height: 25px;
}
#sort-algo-two-color{
  background: blue;
  text-indent: 100%;
  height: 25px;
}
#sort-algo-three-color{
  background: yellow;
  text-indent: 100%;
  height: 25px;
}
#sort-algo-four-color{
  background: green;
  text-indent: 100%;
  height: 25px;
}
#sort-algo-five-color{
  background: purple;
  text-indent: 100%;
  height: 25px;
}

#sort-algo-box{
  flex-direction: column;
  margin-left: 10px;
  width: 275px;
}
#sort-input-box{
  display: flex;
  flex-direction: column;
  width: 300px
}

#sort-algo-main-label{
  font-weight: bold;
  margin-bottom: 5px;
}
#sort-input-main-label{
  font-weight: bold;
  margin-bottom: 5px;
}

.sort-algo-info{
  margin-bottom: 5px;
}

.algo-header-label{
  margin-bottom: 5px;
}

#sort-input-label{
  margin-bottom: 5px;
}

#sort-input-length-label{
  margin-bottom: 3px;
  margin-left: 61px;
}

.sort-array-box{
  margin-bottom: 7px;
  margin-top: 7px;
}

#axis-scale-box{
  margin-top: 59px;
  margin-left: 107px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

#axis-main-label{
  font-weight: bold;
  margin-left: 20px;
}

#axis-scale-label{
  margin-bottom: 5px;
  margin-top: 10px;
}

#sort-button{
  margin-top: 11px;
  margin-left: 0px;
  border: solid 2px black;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  text-align: center;
  background: rgb(0, 255, 13);
  cursor: pointer;
}

#time-perf-label{
  margin-top: 40px;
  margin-left: 226px;
  margin-bottom: -15px;
  font-weight: bold;
}

#sort-graph-inner{
  display: flex;
  flex-direction: row;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#sort-graph-box{
  display: flex;
  flex-direction: column;
  margin-top: -102px;
  margin-left: -10px;
}

.sort-graph{
  margin-left: -170px;
}

#milliseconds-label{
  display: flex;
  transform: rotate(270deg);
  transform-origin: left top 0;
  margin-top: 330px;
  margin-left: 20px;
  width: 190px;
  color: black;
}

#length-of-array-label{
  margin-left: 310px;
  margin-top: -20px;
  color: black;
}





.styled-select {
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   overflow: hidden;
   height: 25px;
   width: 110px;
   color: black;
   font-size: small;
}

.styled-select-short {
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   overflow: hidden;
   height: 20px;
   width: 70px;
   color: black;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 168px;
}


.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border-color: grey;
}

.blue { background-color: #e0ffff; }

.text-box{
  border-radius: 5px;
  text-indent: 2px;
  border: 1px grey solid;
  background: white;
  height: 20px;
  font-size: small;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("./assets/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}
