html, body, header, footer, h1, h2, h3, h4, h5{
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: black;
}

select, option, input{
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  color: black;
}

body{
  flex-direction: column;
  width: 1200px;
}

/*#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("./assets/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}*/

#title{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 22px;
  font-weight: bold;
}

#title-description{
  margin-left: 15px;
  margin-bottom: 15px;
}

#navbar{
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-bottom: 15px;
  background: #e8e8e8;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.nav-button{
  border-left: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

#change-to-sandbox{
  border-right: 1px solid black;
}
#change-to-sorting{
  background: #84b3ff;
}

#sort-container{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 5px;
}

#sort-label{
  margin-left: 375px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#sort-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*width: 750px;*/
}

#sort-algo-box{
  flex-direction: column;
  width: 275px;
}
#sort-input-box{
  display: flex;
  flex-direction: column;
  width: 300px
}

#sort-algo-main-label{
  font-weight: bold;
  margin-bottom: 5px;
}
#sort-input-main-label{
  font-weight: bold;
  margin-bottom: 5px;
}

.sort-algo-info{
  margin-bottom: 5px;
}

.algo-header-label{
  margin-bottom: 5px;
}

#sort-input-label{
  margin-bottom: 5px;
}

#sort-input-length-label{
  margin-bottom: 3px;
  margin-left: 61px;
}

.sort-array-box{
  margin-bottom: 5px;
  margin-top: 5px;
}

#axis-scale-box{
  margin-top: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

#axis-main-label{
  font-weight: bold;
  margin-left: 20px;
}

#axis-scale-label{
  margin-right: 3px;
}

#sort-button{
  margin-top: 11px;
  margin-left: 20px;
  border: solid 2px black;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  text-align: center;
  background: #6cff72;
  cursor: pointer;
}

#time-perf-label{
  margin-top: 20px;
  margin-left: 308px;
  font-weight: bold;
}

#sort-graph-inner{
  display: flex;
  flex-direction: row;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#sort-graph-box{
  display: flex;
  flex-direction: column;
}

.sort-graph{
  margin-left: -170px;
}

#milliseconds-label{
  display: flex;
  transform: rotate(270deg);
  transform-origin: left top 0;
  margin-top: 400px;
  margin-left: 20px;
  width: 190px;
  color: black;
}

#length-of-array-label{
  margin-left: 335px;
  margin-top: -20px;
  color: black;
}
