html, body, header, footer, h1, h2, h3, h4, h5{
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: black;
}

select, option, input{
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  color: black;
}

body{
  flex-direction: column;
  width: 1200px;
  background: #afeeee;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("./assets/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

#title{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 22px;
  font-weight: bold;
}

#title-description{
  margin-left: 15px;
  margin-bottom: 15px;
}

#navbar{
  display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 15px;
    background: #e8e8e8;
    border: 1px solid black;
    border-radius: 5px;
    width: 255px;
}

.nav-button{
  padding: 5px;
  cursor: pointer;
}

#change-to-sandbox{
  background: #6495ed;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#change-to-sorting{
  background: whitesmoke;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: solid 1px black;

}

#sandbox-example-box{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  width: 270px;
}

#sandbox-example-label{
  display: flex;
  margin-right: 5px;
}

#sandbox-example-clear-button{
  margin-top: -6px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: solid 2px black;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  text-align: center;
  background: #6ceeff;
  cursor: pointer;
}

#contents{
  display: flex;
  flex-direction: column;
  font-size: 15px;
}



#sandbox-container{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 5px;
  visibility: hidden;
}

#sandbox-input-box{
  margin-top: -65px;
  margin-left: 30px;
  margin-right: 5px;
}

.sandbox-input-box{
  display: flex;
  flex-direction: column;
  width: 200px;
  font-size: 12px;
}

#sandbox-example{
  font-weight: bold;
}

#sandbox-input-container{
  display: flex;
  flex-direction: column;
  width: 175px;
}

#sandbox-algo-one-color{
  background: red;
  text-indent: 100%;
  width: 75px;
}

#sandbox-algo-two-color{
  background: blue;
  text-indent: 100%;
  width: 75px;
}

#arg-type-master-label{
  margin-bottom: 5px;
  font-weight: bold;
}

.arg-type-label{
  margin-top: 5px;
  margin-bottom: 5px;
}

.sandbox-arg-type{
  width: 125px;
  margin-left: 5px;
  margin-top: 4px;
}

.arg-type{
  display: flex;
  flex-direction: row;
}

#sandbox-label{
  margin-left: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#sandbox-box{
  display: flex;
  flex-direction: row;
  width: 1200px;
}

#sandbox-algo-box{
  flex-direction: column;
  margin-left: 5px;
}

.algo-label-div{
  display: flex;
  flex-direction: row;
}

.sandbox-algo-header-label{
  margin-right: 5px;
  font-weight: bold;
}

#sandbox-algo-one{
   white-space: pre;
}
#sandbox-algo-two{
   white-space: pre;
}

.sandbox-algo-info{
  margin-bottom: 5px;
}

.sandbox-algo-header-label{
  margin-bottom: 5px;
}

#sandbox-arg-types-box{
  display: flex;
  flex-direction: column;
}

#run-axis-box{
  display: flex;
  flex-direction: row;
}

#sandbox-axis-scale-box{
  margin-top: -102px;
  display: flex;
  flex-direction: column;
}

#above-graph-box{
  margin-left: 103px;
  margin-top: 30px;
  position: absolute;
  z-index: 10;

}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
  #above-graph-box{
    margin-left: 103px;
    margin-top: 30px;
    position: absolute;
    z-index: 10;
    transform: translate(0%, -600%);
  }
}}

_::-webkit-:host:not(:root:root), .safari_only {

  #above-graph-box{
    margin-left: 103px;
    margin-top: 30px;
    position: absolute;
    z-index: 10;
    transform: translate(0%, -600%);
  }

}

#below-graph-box{
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  margin-top: -20px;
}

#sandbox-argument-scale-label{
  display: flex;
  margin-right: 5px;

}

#graphing-options{
  margin-top: -6px;
  margin-bottom: 5px;
  font-weight: bold;
}

#sandbox-axis-scale-label{
  margin-right: 3px;
}

#sandbox-argument-axis-scale{
  margin-top: 0px;
  margin-bottom: 5px;
  width: 90px;
  z-index: 20;
}

#sandbox-axis-scale{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 120px;
}

#sandbox-run-button{
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 15px;
  border: solid 2px black;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  text-align: center;
  background: rgb(0, 255, 13);
  cursor: pointer;
}

#run-log-label{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}


#time-perf-label{
  margin-top: 20px;
  margin-left: 260px;
  font-weight: bold;
  font-size: 16px;
}

#sort-graph-inner{
  margin-top: -35px;
  display: flex;
  flex-direction: row;
}

#inputs-label{
  font-weight: bold;
  margin-bottom: 5px;
}

.input-box{
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 12px;
  height: 150px;
      background: aliceblue;
}

#inputs-right{
  display: flex;
  flex-direction: column;
}

#input-box-four{
  margin-top: 23px;
}

.input-textbox{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#sort-graph-box{
  display: flex;
  flex-direction: column;
}

.sort-graph{
  margin-left: -177px;
}

#milliseconds-label{
  display: flex;
  transform: rotate(270deg);
  transform-origin: left top 0;
  margin-top: 310px;
  margin-left: 20px;
  width: 190px;
  color: black;
}

#length-of-array-label{
  margin-left: 34px;
  margin-top: 0px;
  color: black;
}

#run-log-container{
  margin-left: 1050px;
  margin-top: 65px;
  position: absolute;
  top: 0;
}





.styled-select {
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   overflow: hidden;
   height: 20px;
   /*width: 110px;*/
   color: black;
}

.styled-select-short {
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   overflow: hidden;
   /*height: 20px;*/
   /*width: 70px;*/
   color: black;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 168px;
}


.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border-color: grey;
}

.blue { background-color: #e0ffff; }

.text-box{
  border-radius: 5px;
  text-indent: 2px;
  border: 1px grey solid;
  background: white;
}
